<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <application>
        <!-- ComboLite 插件元数据 -->
        <meta-data
            android:name="PLUGIN_NAME"
            android:value="示例插件" />
        <meta-data
            android:name="PLUGIN_DESCRIPTION"
            android:value="这是一个ComboLite示例插件，展示插件化功能" />
        <meta-data
            android:name="PLUGIN_ENTRY_CLASS"
            android:value="com.yhchat.plugin.example.ExamplePluginEntry" />
        <meta-data
            android:name="PLUGIN_VERSION_CODE"
            android:value="1" />
        <meta-data
            android:name="PLUGIN_VERSION_NAME"
            android:value="1.0.0" />
    </application>
    
</manifest>
